* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #020A18;
    font-family: 'Open Sans';
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
  }

.container {
    max-width: 1146px;
    margin: 0 2%;
}

.header {
    min-height: 100px;
    display: flex;
    margin-bottom: 160px;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.main {
    padding-bottom: 221px;
}

    /*   HEADER   */

.header-link {
    text-decoration: none;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;   
    padding: 40px 16px;
}

.header-link:hover {
    color: #3A68B8;
}

        /*  top     */

.main-top {
    padding-bottom: 99px;
    margin-bottom: 160px;
}

.main-left {
    width: 57%;
}

.main-right {
    width: 36%;
}

.top {
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.main-subtitle {
    color: #3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.main-dsc {
    max-width: 558px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 65px;
} 

.main-top-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.main-link {
    padding: 1rem 2rem;
    border-radius: 5px;
    background: #3A68B8;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

        /*  apply   */

.apply {
    display: flex;
    justify-content: space-between;
    margin-bottom: 264px;
}

.apply-subtitle {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 30px;
}

.apply-dsc {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    max-width: 460px;
    margin-bottom: 50px;
}

.apply-left {
    width: 54%;
}

.apply-right {
    width: 44%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.apply-link {
    padding: 1rem 2rem;
    border-radius: 5px;
    background: #3A68B8;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
}

        /*  content     */

.content {
    display: flex;
    gap: 30px;
    margin-bottom: 243px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}

.row1, .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.item {
    /* max-width: 362px; */
    width: 31.4%;
    min-height: 389px;
    border-radius: 10px;
    background: #132035;
    color: #132035;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}

.row2-left {
    width: 65.8%;
}

.row2-right {
    width: 31.4%;
}

.item4 {
    /* max-width: 754px; */
    min-height: 808px;
    border-radius: 10px;
    background: #132035;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.item5, .item6 {
    width: 100%;
}

.item5 {
    margin-bottom: 30px;
}

.content-img {
    width: 98px;
    height: 103px;
    flex-shrink: 0;
    margin: 30px auto;
}

.content-img-left {
    width: 306px;
    height: 322px;
    flex-shrink: 0;
    margin: 30px auto 60px;
}

.content-subtitle {
    width: 302px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.7;
    margin: 0 30px 30px 30px;

}

.content-subtitle-left {
    width: 694px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.7;
    margin: 0 30px 60px 30px;
}

.content-dsc {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin: 0 30px;
}

/*  RECALL    */

.recall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recall-left {
    width: 52%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}

.recall-right {
    width: 47%;
}

.recall-subtitle {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 40px;
}

.recall-dsc {
    max-width: 460px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 20px;
}

/*  FOOTER    */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 156px;
    padding-bottom: 52px;
    padding-top: 48px;
}

.footer-left, .footer-center, .footer-right {
    width: 31.4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-subtitle {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.footer-sign {
    width: 13px;
    height: 10.4px;
    margin-right: 10px;
}

.f-l-t, .f-r-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.foot-l-t {
    margin-bottom: 24px;
    text-decoration: none;
    width: 261px;
}

.foot-l-t-low {
    text-decoration: none;
    width: 261px;
}

.f-c-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    max-width: 260px;
    opacity: 0.6;
}

.f-r-text {
    margin-bottom: 24px;
    text-decoration: none;
}

.f-s {
    margin-right: 24px;;
}

.foot-l-t:hover, .footer-sign:hover, .f-l-t:hover, .f-r-text:hover {
    color: #3A68B8;
}

.f-logo:hover {
    background-color: #3A68B8;
    width: 25px;
    height: 25px;
}

/* ======================================== */
/* laptop */

@media screen and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 507px);
        padding-right: calc(50% - 507px);
    }

    /*    MAIN    */

    .top {
        flex-direction: column;
    }

    .main-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 120px;
        margin-bottom: 157px;
    }

    .main-left {
        max-width: 604px;
        width: 100%;
        margin-bottom: 128px;
    }

    .main-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logos {
        justify-content: center;
        flex-direction: row;
        max-width: 534px;
        gap: 32px;
        padding-bottom: 120px;
    }

    .main-subtitle {
        font-size: 16px;
    }

    .main-title {
        font-size: 48px;
    }

    /*   APPLY   */

    .apply {
        flex-direction: column;
        align-items: center;
    }

    .apply-left {
        padding-bottom: 64px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .apply-right {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 492px;
    }

    .row1 {
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        gap: 32px;
    }

    .item{
        width: 362px;
        height: 389px;
    }

    .content {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 243px;
    }

    .row2 {
        /* flex-direction: column; */
        display: none;
    }
 
     /* RECALL */

    .recall {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .recall-left {
        width: 57%;
        padding-bottom: 64px;
    }

    .recall-right {
        width: 100%;
        max-width: 573px;
    }

    .recall-dsc-bottom {
        max-width: 460px;
        color: #FFF;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 160%; /* 25.6px */
        opacity: 0.7;
        margin-bottom: 0;
    }

    .recall-img {
        width: 573px;
    }

    /* FOOTER */

    .footer-left, .footer-center, .footer-right {
        width: 48%;
    }

    .footer-left, .footer-center {
        margin-bottom: 30px;
    }

}

/* ======================================== */
/* mobile */

@media screen and (max-width: 768px) {
    .center {
        padding-left: calc(50% - 348px);
        padding-right: calc(50% - 348px);
    }

    /*    HEADER    */

    .header {
        margin-bottom: 64px;
    }

    .header-link {
        font-size: 14px;
    }



    /*    MAIN    */

    .main {
        margin-bottom: 0;
    }

    .main-top {
        margin-bottom: 96px;
        padding-bottom: 0;
    }

    .main-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-right {
        max-width: 343px;
    }

    .main-subtitle {
        font-size: 14px;
    }

    .main-title {
        font-size: 28px;
        max-width: 343px;
    }

    .main-dsc {
        max-width: 343px;
        margin-bottom: 39px;
    }

    .main-subtitle, .main-title, .main-dsc {
        text-align: center;
    }

    .main-top-link {
        gap: 24px;
        flex-direction: column;
        align-items: center;

    }

    .logos {
        padding-bottom: 108px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        /* justify-content: center; */
    }

    .product-logo {
        /* width: 100%; */
    }

    /* APPLY */

    .apply {
        margin-bottom: 96px;
    }

    .apply-left {
        max-width: 342px;
        padding-bottom: 68px;
    }

    .apply-right {
        max-width: 348px;
        align-items: center;
        flex-direction: column;
    }

    .apply-subtitle, .apply-dsc {
        text-align: center;
    }

    .apply-subtitle {
        font-size: 24px;
    }

    /* CONTENT */

    .content {
        gap: 32px;
        margin-bottom: 96px;
    }

    .row1 {
        max-width: 362px;
    }

    /* RECALL */

    .recall-left, .recall-left {
        width: 100%;
        max-width: 343px;
        text-align: center;
    }

    .recall-left {
        padding-bottom: 32px;
    }

    .recall-right {
        max-width: 342px;
    }

    .recall-subtitle {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .recall-dsc {
        margin-bottom: 16px;
    }

    /* FOOTER */

    .footer {
        padding-top: 113px;
        padding-bottom: 64px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        align-items: center;
    }

    .footer-right {
        height: ;
    }









}